body {
    
}

#grid{
    display: flex;
    border: 2px solid black;
}

.row {
    display: grid;
    border: 2px solid yellow;
    flex-grow: 1;
}

.cell {
    border: 2px solid black;
    text-align: center;
    flex-grow: 1;

}