body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

div {

}

#grid{
    display: flex;
    width: 960px;
    height: 960px;
}


.row {
    display: grid;
    flex: 1;
}

.cell {
    text-align: center;
    border: 1px solid black;
    background-color: white;
}
